:root {
  --gradient-light-purple: #a517ba;
  --gradient-dark-purple: #5f1782;
  --white-color: #fff;
  --bgc-grey: #f8f9fa;
  --bgc-purple:#7b1798;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, var(--gradient-light-purple), var(--gradient-dark-purple));
  padding: 0 !important;
}

.navbar-brand img {
  height: 100px;
  padding-left: 20px;
  object-fit: cover;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: var(--white-color) !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: var(--white-color);
  font-size: 30px !important;
}

.navbar-toggler {
  border: none !important;
}

#banner {
  background-image: linear-gradient(to right, var(--gradient-light-purple), var(--gradient-dark-purple));
  color: var(--white-color);
  padding-top: 5%;
}

.promo-tittle {
  font-size: 40px;
  font-weight: 600;
}

.play-btn {
  width: 45px;
  margin: 20px;
}

#banner a {
  color: var(--white-color);
  text-decoration: none;
}

.bottom-img {
  width: 100%;
}

#services {
  padding: 80px 0;
}

.service-img {
  width: 100px;
}

.title::before {
  content: "";
  background: var(--bgc-purple);
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.title::after {
  content: "";
  background:var(--bgc-purple);
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, var(--gradient-light-purple), var(--gradient-dark-purple));
}

#about-us {
  background: var(--bgc-grey);
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}

#testimonials {
  margin: 100px 0;
}

.testimonials {
  border-left: 4px solid var(--bgc-purple);
  margin-top: 50px;
  margin-bottom: 50px;
}

.testimonials img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
}

.user-details {
  display: inline-block;
  font-size: 12px;
}

#social-media {
  background: var(--bgc-grey);
  padding: 100px 0;
}

#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.social-icons img {
  width: 60px;
  transition: 0.5s;
}

.social-icons a:hover img {
  transform: translateY(-10px);
}

#footer {
  background-image: linear-gradient(to right, var(--gradient-light-purple), var(--gradient-dark-purple));
  color:  var(--white-color);
}

.footer-img {
  width: 100%;
}

.footer-box img {
  width: 120px;
  margin-bottom: 20px;
}

.footer-box .fa-solid {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, var(--gradient-light-purple), var(--gradient-dark-purple));
}

.footer-box .form-control {
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}

.footer-box .btn-primary {
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background-image: linear-gradient(to right, var(--gradient-light-purple), var(--gradient-dark-purple));
  transition: 0.5s;
}

.footer-box .btn-primary:hover {
  transform: scale(1.1);
}

hr {
  background-color: var(--white-color);
}
